@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Roboto;
  src: url("fonts/roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: RobotoItalic;
  src: url("fonts/roboto/Roboto-Italic.ttf");
}
@font-face {
  font-family: RobotoBold;
  src: url("fonts/roboto/Roboto-Bold.ttf");
}

html,
body {
  width: 100%;
  background-color: #836342;
}
